/*
 * clear styles
 */
 
* {
	margin: 0;
	padding:0;
	list-style: none;
}

*:focus  
{  
    outline: none;  
}

img {
	border:none;
}

html, body {
	font: 14px Arial, Helvetica, sans-serif;
	height: 100%;
}

body {
	background-color: #F2F2F2;
}

h2 {
	font-size: 20px;
	color: #908E8F;
	margin-bottom: 20px;
}

h3 {
	font-size: 18px;
	color: #B62A59;
	font-weight: bold;
}

h4 {
	font-size: 20px;
	color: #FF6636;
	font-weight: bold;
}
