/*
 * clear styles
 */
 
* {
	margin: 0;
	padding:0;
	list-style: none;
}

*:focus  
{  
    outline: none;  
}

img {
	border:none;
}

html, body {
	font: 12px Arial, Helvetica, sans-serif;
	height: 100%;
}

label, input, button, select, textarea {
	font-size: 12px;
}

body {
	background-color: #F3F3F3;
	min-width: 650px;
}

h2 {
	font-size: 20px;
	color: #908E8F;
	margin-bottom: 20px;
}

h3 {
	font-size: 18px;
	color: #B62A59;
	font-weight: bold;
}

h4 {
	font-size: 20px;
	color: #FF6636;
	font-weight: bold;
}

button [class^="icon-"], [class*=" icon-"] {
	opacity: 0.7;
}

.side-menu {
	font-size: 14px;
}

.row {
	margin-bottom: 15px;
}
