/*
 * clear styles
 */
 
* {
	margin: 0;
	padding:0;
	list-style: none;
}

*:focus  
{  
    outline: none;  
}

img {
	border:none;
}

html, body {
	font: 12px Arial, Helvetica, sans-serif;
	height: 100%;
}

label, input, button, select, textarea {
	font-size: 12px;
}

body {
	background-color: #F3F3F3;
	min-width: 650px;
}

h2 {
	font-size: 20px;
	color: #908E8F;
	margin-bottom: 20px;
}

h3 {
	font-size: 18px;
	color: #B62A59;
	font-weight: bold;
}

h4 {
	font-size: 20px;
	color: #FF6636;
	font-weight: bold;
}

button [class^="icon-"], [class*=" icon-"] {
	opacity: 0.7;
}

select, textarea,
input[type="text"], input[type="password"],
input[type="datetime"], input[type="datetime-local"],
input[type="date"], input[type="month"],
input[type="time"], input[type="week"],
input[type="number"], input[type="email"],
input[type="url"], input[type="search"],
input[type="tel"], input[type="color"],
.uneditable-input {
	font-size: 12px;
}

.side-menu {
	font-size: 14px;
}

.row {
	margin-bottom: 15px;
}

.hint {
	font-size: 10px;
	color: #999999;
	padding-left: 3px;
	padding-bottom: 2px;
}


.form-actions {
	background-color: transparent;
	margin-top: 10px;
	margin-bottom: 10px;
}
/*
 * Collection data
 */
table tr.details td {
	padding: 0;
}

table.table tr.active td {
	font-weight: bold;
}

table div.details-wrapper {
	-webkit-box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.1);
	-moz-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.1);
	background-color: #f5f5f5;
	padding: 20px 10px 10px;
}

p.form-section {
	margin: 20px 0 10px;
	border-bottom: 1px solid #EEE;
	padding-bottom: 5px;
	font-weight: bold;
	text-transform: uppercase;
	color: #666;
}

.form-details {
	margin: 0;
}

.form-horizontal.form-details label.control-label {
	width: 80px;
}

.form-horizontal.form-details .controls {
	margin-left: 90px;
}

.form-actions {
	padding: 10px;
}

.form-details .form-column {
	padding-right: 10px;
}
.form-details img.image {
	min-height: 150px;
	max-height: 250px;
	background-color: #CCCCCC;
}

.form-register .span1 {
	width: 70px;
}

.form-register .span2 {
	width: 150px;
	margin-right: 5px;
}

.form-register .span3 {
	width: 220px;
	margin-right: 5px;
}

.image-wrapper {
	margin-right: 15px;
	padding: 5px;
	border: 1px solid #CCCCCC;
	background-color: #FFFFFF;
	display: inline-block;
}

.form-register img.image {
	min-height: 175px;
	max-height: 210px;
	background-color: #CCCCCC;
}
